.App {
  text-align: center;
  margin: 0;
  height: 100%;
  width: 100%;
  color: black;
  background-color: blanchedalmond;
}

.MainContent {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-flow: column;
  
}
