.App {
  text-align: center;
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(63, 63, 63);

}

.MainContent {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-flow: column;
  
}
